*{
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: #f4f7fb !important;
}

.page{
  position: relative;
}
.header{
    padding: 20px;
}

.nav-bar{
    min-height: calc(100vh - 40px);
    width: fit-content;
    padding: 10px;
    display: inline-block;
}

.main-content{
    display: inline-block;
    position: absolute;
    width: 100%;
}


ul li {
    cursor: pointer;
}

.section-one{
    width: 100%;
    height: fit-content;

    padding: 50px;
    
}

.section-one .box{
    padding: 50px;
    border-radius: 10px;
}