body{
    margin: 0;
    box-sizing: border-box;
}


.shadow{
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
}

.fleter , .sleter{
    font-size: 16px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #845bb3;
    font-weight: 500;
}

.link-back:hover + span{
    color: red;
}

.image{
    display: flex
    ;
        flex-direction: column;
        align-items: center;
}

.image h3 {
    font-size: 44px;
    font-family: revert;
}

.image p{
    margin-top: -10px;
    margin-bottom: 60px;
    font-size: 14px;
    color: #a5a9acb0;
}

.form{
    width: 80%;
    margin: 0 10%;
}

.form input , .form button {
    border-radius: 15px !important;
}

.form button {
    margin: 30px 0px;
}

.form a:hover > span{
   transform: translateX(-20px);
   /* color: red; */
}




