.header{
    
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.header div{
    display: inline-block;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    
}

.quizs{
    margin-top: 100px;
}

.btn-label{
    background-color: black;
    color: #eee;
    height: 100%;
    padding: 15px 10px;
}

.card-body{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left:0 ;

}
.quizs .quiz-name{
    font-size: larger;
}

.text-info ,
.text-success,
.text-danger{
    font-size: 10px;
}

.card{
    transition: all .3s ease-in-out;
}
.card:hover{
    transform: scale(1.1);
    text-shadow: 0 3px 2px rgba(0,0,0,0.4);
}

